{{> appbar}}
<div style="font-family: Roboto">
    <div>
        
        <div id="productCardsContainer">
        </div>
        

    </div>
</div>

<script>

    let products = {{{ jsonStringify products }}};
    let user = {{{ jsonStringify user }}};

</script>
<script src="js/mocking_products.js"></script>